@model Logic.Order

@{
    ViewData["Title"] = "Order #" + Model.id;
}

<h1>Order #@Model.id</h1>

@{string betaald = "";}
@if (Model.betaald)
{
     betaald = "voldaan";
}
else
{
     betaald = "Nog te betalen";
}
<p>Betaalstatus: @betaald</p>

@{Logic.Klant klant = Model.GetKlant();}
@if (klant != null)
{
    <p>Klant naam: @klant.naam</p>
    if (klant.bezorgAdres.Length > 0)
    {
        <p>Factuur adres: @klant.factuurAdres</p>
    }
    if (klant.bezorgAdres.Length > 0)
    {
        <p>Bezorg adres: @klant.bezorgAdres</p>
    }
}


<div class="rounded bg-white shadow-sm">

    @Html.Partial("_OrderRegels", Model)
</div>


<div>
    <a asp-action="EditOrder" asp-route-id=@Model.id>Wijzigen</a><br />
</div>