@model OrderViewModel

@{
    ViewData["Title"] = "Order #" + Model.id;
}

<h1>Order #@Model.id</h1>
<p>Betaalstatus: @Model.betaalStatus </p>


@if (Model.klantId.HasValue)
{
    <p>
        <span>Klant naam: @Model.klantNaam</span><br />
        @if (Model.klantFactuurAdres.Length > 0)
        {
        <span>Factuur adres: @Model.klantFactuurAdres</span><br />
        }
        @if (Model.klantBezorgAdres.Length > 0)
        {
        <span>Bezorg adres: @Model.klantBezorgAdres</span>
        }
    </p>
}


<div class="rounded bg-white shadow-sm">

    @Html.Partial("_OrderRegels", Model)
</div>


<div>
    <a asp-action="EditOrder" asp-route-id=@Model.id>Wijzigen</a><br />
</div>