@model Logic.Order

@{
    ViewData["Title"] = "Order #" +Model.id;
}

<h1>Order #@Model.id</h1>
<p>Betaald: @Model.betaald</p>
@{Logic.Klant klant = Model.GetKlant();}
@if (klant != null)
{
    <p>Naam: @klant.naam</p>
    if (klant.bezorgAdres.Length > 0)
    {
        <p>Factuur adres: @klant.factuurAdres</p>
    }
    if (klant.bezorgAdres.Length > 0)
    {
        <p>Bezorg adres: @klant.bezorgAdres</p>
    }
}


<div class="rounded bg-white shadow-sm">
    <ul>
        @foreach (Logic.order.OrderRegel orderRegel in Model.GetOrderRegels())
        {
            <li>@orderRegel.product.titel x @orderRegel.aantal</li>
        }
    </ul>
</div>


<div>
    <a asp-action="Delete" asp-route-id=@Model.id>Verwijderen</a><br />
</div>