@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model OrderViewModel
<table class="table table-sm">
    <tr>
        <th>Product</th>
        <th class="text-right">Prijs per stuk</th>
        <th class="text-right">Aantal</th>
        <th class="text-right">Prijs</th>
    </tr>
    @foreach (OrderRegelViewModel orderRegel in Model.orderRegels)
    {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="product" asp-route-id=@orderRegel.productId>
                    @orderRegel.productTitel
                </a>
            </td>
            <td class="text-right">@orderRegel.productPrijs</td>
            <td class="text-right">@orderRegel.aantal</td>
            <td class="text-right">@orderRegel.totaalPrijs</td>
        </tr>
    }
    <tr>
        <td><b>Totaal</b></td>
        <td></td>
        <td></td>
        <td class="text-right">@Model.totaalPrijs</td>
    </tr>
</table>